extends layout

block content

  div.container
    h1 Amazon Watchlist
    div.form-group.col-md-12
        <br>
        h5 Add Website
        input.form-control(type="text", placeholder="Website URL", id="urltosubmit")
        input.form-control(type="submit", value="Submit", id="submiturl")
        <br>
        h5 Update Entries
        input.form-control(type="submit" value="Update all" id="updateall")
        <br>
    table#producttable.table
        thead
            th ASIN
            th Name
            th Image
            th Preis
            th Watchprice
            th
            th
        tbody
