extends layout

block content

  div.container
    h1 Amazon Crawler
    div.form-group.col-md-12
        input.form-control(type="text", placeholder="Website URL", id="urltosubmit")
        input.form-control(type="submit", value="Submit", id="submiturl")
    table#producttable.table
        thead
            th ASIN
            th Produkt
            th Preis
            th Verfügbarkeit
            th Bild
        tbody
